
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	color-scheme: dark;
	--link: cyan;
}

a {
	color: var(--link);
	text-decoration: none;

	&:visited {
		color: color-mix(in srgb, purple, var(--link) 70%);
	}

	&:hover {
		color: color-mix(in srgb, white, var(--link) 90%);
		text-decoration: underline;
	}

	&:active {
		color: color-mix(in srgb, white, var(--link) 50%);
	}
}

html, body {
	min-height: 100%;
}

html {
	font-size: 16px;
	font-family: sans-serif;

	color: #aaa;
	background: #111;

	scrollbar-gutter: stable;
	scrollbar-width: thin;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4em;
	padding-bottom: 4em;

	> header {
		display: flex;
		justify-content: center;

		> .logo {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: max-content;
			gap: 0.5em;

			color: white;

			> svg {
				height: 16em;
			}

			> strong {
				font-size: 1.8em;
			}

			> em {
				opacity: 0.5;
				font-size: 1.1em;
			}
		}
	}

	> .explainer {
		font-size: 1.2em;
		max-width: 18em;
		text-align: center;
	}

	> .gamelist {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;
		width: 100%;
		max-width: 90%;
		margin: 0 auto;

		> section {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 2em;
			align-items: center;

			width: 100%;
			max-width: 40em;
			padding: 1em;

			background: #181818;
			border-radius: 2em;
			box-shadow: .1em .3em .9em #0002;

			> figure {
				flex: 0 0 auto;

				& a {
					&:hover { filter: brightness(120%); }
					&:active { filter: brightness(80%); }
				}

				& img {
					width: 12em;
					border-radius: 1em;
					box-shadow: .1em .2em .4em #0004;
				}
			}

			> div {
				flex: 1 1 8em;
				display: flex;
				flex-direction: column;
				gap: 1em;
				width: 100%;

				> hgroup {
					> h1 {
						color: white;
						text-shadow: 0 0 0.5em #fff8;
					}
					> h2 {
						opacity: 0.5;
						font-size: 1.1em
					}
				}

				> .buttonbar {
					width: 100%;
					display: flex;
					justify-content: start;
				}
			}
		}
	}

	> footer {
		display: flex;
		gap: 1em;
	}
}

