
@layer vars {
	:root {
		--link: #0ff8;
		--bg: #111;
		--prime: #ebb935;
		--select-bg: #f60;
		--select-color: #ff8;

		--primeStrong: color-mix(in lch, var(--prime), white 50%);
		--primeWeak: color-mix(in lch, transparent, var(--prime) 50%);
	}
}

@layer std {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	a {
		color: var(--link);
		text-decoration: none;

		&:visited {
			color: color-mix(in srgb, purple, var(--link) 70%);
		}

		&:hover {
			color: color-mix(in srgb, white, var(--link) 90%);
			text-decoration: underline;
		}

		&:active {
			color: color-mix(in srgb, white, var(--link) 50%);
		}
	}
}

:root {
	color-scheme: dark;
}

html, body {
	min-height: 100%;
}

html {
	font-size: 16px;
	font-family: sans-serif;

	color: color-mix(in lch, transparent, var(--prime) 50%);
	background: #111;
	background:
		radial-gradient(circle, #0006, #000f),
		url("https://benev-storage.sfo2.cdn.digitaloceanspaces.com/website/bg1.avif") center center / cover;

	scrollbar-gutter: stable;
	scrollbar-width: thin;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	padding-bottom: 4em;

	> header {
		display: flex;
		justify-content: center;
		margin-top: 2em;
		color: var(--primeStrong);

		> .logo {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: max-content;
			gap: 2em;

			> img {
				height: 8em;
				filter:
					drop-shadow(0 0 1em color-mix(in lch, transparent, var(--prime) 50%))
					drop-shadow(0 0 5em color-mix(in lch, transparent, var(--prime) 50%));
			}

			> strong {
				font-size: 1.4em;
				text-shadow: 0 0 1em var(--prime);
			}

			> em {
				opacity: 0.5;
				font-size: 1.1em;
			}
		}
	}

	> .explainer {
		font-size: 1.2em;
		max-width: 18em;
		text-align: center;
	}

	> .hero {
		> img {
			display: block;
			width: 32em;
			max-width: 100%;
		}
	}

	> .gamelist {
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 2em;
		width: 100%;
		max-width: 90%;
		margin: 0 auto;

		> .game {
			all: unset;
			cursor: pointer;

			display: flex;
			flex-direction: column;
			gap: 0.5em;
			align-items: center;

			width: 16em;
			max-width: 100%;
			padding: 1em;
			text-align: center;

			border: 0.2em solid var(--prime);
			border-radius: 2em;
			-webkit-backdrop-filter: blur(0.3em);
			backdrop-filter: blur(0.3em);
			box-shadow:
				0 0 1em color-mix(in lch, transparent, var(--prime) 5%),
				0 0 8em color-mix(in lch, transparent, var(--prime) 10%);
			transform: scale(100%);
			transition: all 200ms ease;

			&:is(:hover, :focus-visible) {
				transform: scale(101%);
				border: 0.2em solid var(--primeStrong);
				border-radius: 2em;
				box-shadow:
					0 0 1em color-mix(in lch, transparent, var(--prime) 10%),
					0 0 8em color-mix(in lch, transparent, var(--prime) 20%);
			}

			&:active {
				background: color-mix(in lch, transparent, var(--prime) 50%);
			}

			> figure {
				flex: 0 0 auto;
				user-select: none;

				& a {
					&:hover { filter: brightness(120%); }
					&:active { filter: brightness(80%); }
				}

				& img {
					width: 100%;
					pointer-events: none;
				}
			}

			> div {
				flex: 1 1 auto;
				display: flex;
				flex-direction: column;
				gap: 0.5em;
				width: 100%;
				padding-bottom: 1em;

				> h1 {
					font-size: 1.4em;
					text-transform: uppercase;
					color: color-mix(in lch, var(--prime), white 50%);
					text-shadow: 0 0 0.5em #fff8;
				}
			}
		}
	}

	> footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;

		& strong {
			color: var(--primeStrong);
		}

		> div {
			display: flex;
			gap: 1em;
		}
	}
}

